@model IEnumerable<VidlyByYo.Models.Customer>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if (!Model.Any())
{
    <p>No Tenemos Clientes Aun</p>
}else
	{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Clientes</th>
                <th>Descuento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.DiscountRate %</td>
            </tr>         
            }
        </tbody>
    </table>
	}   
                      

