@model VidlyByYo.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Comentario en
    multiples lineas
*@

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>    
        Nadie a alquilado esta pelicula antes.
    </text>
}
else
{
<ul>
    @foreach (var customer in Model.Customers)
    {
    <li>@customer.Id - @customer.Name</li>        
    }
</ul>
}